* {
	margin: 0;
	padding: 0;
}


	/*header styling*/

header {
	background-color: #121B2A;
	border-bottom:1px solid #121B2A;
}
header .container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 10px;
	margin-top: -14px;
}
header .container .logo {
	width: 16%;
	float: left;
	cursor: pointer;
}
header .container .logo img {
	width: 100%;
}
header .container .menu {
	float: right;
}
header .container .menu ul, footer .container .detail ul {
	overflow: hidden;
	margin-top: 40px;
}
header .container .menu ul li, footer .container .detail ul li{
	float: left;
	list-style: none;
	margin: 5px 30px;
}
header .container .menu ul li a, footer .container .detail ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 17px;
	transition: 0.4s;
}
header .container .menu ul li a:hover {
	color: #0079BD;
}
header .buttons {
	width: 20%;
	margin-left: 68%;
	cursor: pointer;
}
header .buttons button {
	padding: 4px 13px;
	margin: 0;
	outline: none;
	background-color: #0177BD;
}
header .buttons button i {
	padding: 5px;
	font-size: 15px;
}
header .buttons button a{
	text-decoration: none;
}
header .buttons .btn-1 {
	background-color: #fff;
	border: 1px solid #fff;
	transition: 0.4s;
}
header .buttons .btn-1 a {
	color: #131C2D;
}
header .buttons .btn-2 {
	background-color: #0078BD;
	margin-left: -6px;
	border: 1px solid #0078BD;
	transition: 0.4s;
}
header .buttons .btn-2 a {
	color: #fff;
}
header .buttons .btn-2 i {
	color: #fff;
}


	/*banner styling*/

.banner {
	background-image: url(images/computer.jpg);
	background-size: cover;
	min-height: 60vh;
	background-position: top;
	overflow: hidden;
}
.banner .container {
	width: 80%;
	margin: 0 auto;
	height: 60vh;
}
.banner .container .details {
	width: 50%;
	padding: 50px;
}
.banner .container .details .first {
	font-size: 41px;
	color: #fff;
	letter-spacing: 2px;
	padding-top: 280px;
}
.banner .container .details .second {
	font-size: 44px;
	color: #0075B8;
	letter-spacing: 2px;
	font-weight: 700;
	padding: 10px 0;
}
.banner .container .details p {
	color: #fff;
	font-size: 20px 29px;
	line-height: 29px;
}
.banner .container .details button {
	margin-top: 20px;
	padding: 9px 21px;
	color: #5B5B5B;
	font-size: 20px;
	outline: none;
	border: 1px solid #fff;
	border-radius: 3px;
	cursor: pointer;
}
.banner .container .details button i {
	padding-left: 15px;
	color: #0176BC;
	font-size: 23px;
}


	/*services styling*/

.services {
	background-color: #1D364C;
}
.services .container, .contact .container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 40px;
	padding-top: 30px;
}
.services .container .col-3, .contact .container .col-3 {
	width: 32%;
	float: left;
	padding: 20px 5px;
	margin: 20px 1px;
	overflow: hidden;
	border-left: .5px solid grey;
	cursor: pointer;
}
.services .container .col-3:nth-child(1) {
	border: none;
}
.services .container .col-3 .icons {
	width: 18%;
	float: left;
	height: 70px;
}
.services .container .col-3 .icons i {
	font-size: 45px;
	padding: 5px;
	padding-right: 0;
	color: #fff;
}
.services .container .col-3 .title {
	text-align: left;
	width: 80%;
	float: right;
	height: 70px;
}
.services .container .col-3 .title h2 {
	font-size: 28px;
	letter-spacing: 2px;
	font-weight: 400;
	color: #fff;
}
.services .container .col-3 .title .tp {
	padding-top: 5px;
	color: #0178BC;
	padding-bottom: 20px;
} 
.services .container .col-3 .text {
	padding: 20px 3px;
	color: #fff;
	font-size: 17px;
}


	/*contact styling*/

.contact {
	background-color: #040811;
}
.contact .container .col-3 {
	border: none;
	overflow: hidden;
}
.contact .container .col-3 h3 {
	font-size: 22px;
	letter-spacing: 1px;
	font-weight: 400;
	word-spacing: 3px;
	color: #B2B6B9;
	padding-bottom: 15px;
}
.contact .container .col-3 h3 span {
	color: #0076B7;
}
.contact .container .col-3 p {
	color: #B2B6B9;
}
.contact .container .col-3 .details {
	overflow: hidden;
	margin-top: 15px;
}
.contact .container .col-3 .details .title {
	width: 30%;
	float: left;
}
.contact .container .col-3 .details .info {
	width: 68%;
	float: right;
	text-align: left;
}
.contact .container .col-3 .testimonial {
	background-color: #0C1019;
	padding: 10px;
}
.contact .container .col-3 .about {
	margin-top: 25px;
}
.contact .container .col-3 .image {
	width: 30%;
	float: left;
}
.contact .container .col-3 .image img {
	width: 100%;
}
.contact .container .col-3 .detail {
	width: 58%;
	float: right;
}
.contact .container .col-3 .detail h3 {
	font-size: 25px;
	margin-top: 7px;
}
.contact .container .col-3 .detail h2 {
	font-size: 28px;
	margin-top: 1px;
	color: #0076B7;
}
.contact .container .col-3 .detail img {
	width: 100%;
	margin-top: 6px;
}

	/*footer styling*/

footer {
	background-color: #121B2C;
}
footer .container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	padding-bottom: 35px;
}
footer .container .detail {
	float: left;
	width: 58%;
}
footer .container .detail ul {
	margin-top: 15px;
} 
footer .container .detail ul li {
	border-left: 1px solid #B2B6B9;
	margin-right: 0;
}
footer .container .detail ul:first child {
	border: none;
}
footer .container .detail ul li a {
	color: #B2B6B9;
	font-size: 12px;
	margin-left: 8px;
}
footer .container .detail ul li:nth-child(1) {
	border: none;
}
footer .container .detail p {
	margin-left: 35px;
	color: #B2B6B9;
	font-size: 12px;
	padding-top: 15px;
}
footer .container .logos {
	float: right;
	width: 41%;
	overflow: hidden;
} 
footer .container .logos .image1 {
	width: 49%;
	float: left;
}
footer .container .logos .image2 {
	width: 49%;
	float: right;
}
footer .container .logos .image1 img{
	width: 70%;
    margin-left: 13px;
	margin-top: 9px;
}
footer .container .logos .image2 img{
	width: 70%;
	margin-top: 9px;
	margin-left: 13px;
}